.header {
  width: 100%;
  background-color: #e9ded4;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url(../images/brown-bg.png);
}

.header__container {
  max-width: 1366px;
  width: 100%;
  display: flex;
  margin-top: 26px;
  margin-bottom: 82px;
  padding-left: 72px;
  position: relative;
}

.header__text {
  max-width: 539px;
  z-index: 1;
}

.header__image {
  margin-top: -67px;
  margin-left: 64px;
}
.header__image-city {
  position: absolute;
  right: -147px;
  bottom: -147px;
}

.header__title {
  font-size: 60px;
  line-height: 110%;
  margin-top: 58px;
  margin-bottom: 0;
}

.header__span {
  display: block;
}

.header__span_center {
  text-align: center;
}

.header__span_right {
  text-align: right;
}

.header__subtitle {
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-top: 24px;
  line-height: 130%;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.header__button {
  border-radius: 66px;
  height: 72px;
  outline: none;
  border: none;
  font-family: "Golos Text", sans-serif;
  cursor: pointer;
  padding: 0;
  width: 263px;
  font-size: 16px;
  padding: 0 49px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button_black {
  background-color: black;
  color: white;
}

.header__button_black:hover {
  background-color: #fbce51;
  color: black;
}

.header__button_white {
  color: black;
  border: 2px solid black;
  background-color: transparent;
}

.header__button_white:hover {
  background-color: black;
  color: white;
}

.header__link {
  text-decoration: none;
}
@media all and (max-width: 1040px) {
  .header__container {
    flex-direction: column;
    max-width: 338px;
    margin-top: 19px;
    margin-bottom: 69px;
    padding: 0;
  }

  .header__image-city {
    bottom: -91px;
    right: -63px;
  }
  .header__image-city img {
    width: 809px;
    height: auto;
  }
  .header__image {
    margin-top: -80px;
    margin-left: 9px;
    width: 300px;
    height: 300px;
  }

  .header__image img {
    max-width: 300px;
  }
  .header__title {
    font-size: 36px;
    max-width: 330px;
    margin-top: 37px;
    margin-left: 0;
  }

  .header__subtitle {
    text-align: start;
    max-width: 325px;
    font-size: 18px;
  }
  .header__btns {
    flex-direction: column;
    margin-top: 31px;
    max-width: 335px;
    width: 100%;
  }

  .header__button {
    width: 100%;
    height: 47px;
    font-size: 16px;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 72%;
  }

  .header__text {
    z-index: 1;
    max-width: 335px;
  }
  .header__button_white {
    border: none;
    background-color: white;
  }

  .header__logo {
    max-width: 213px;
  }
}

@media all and (max-width: 360px) {
  .header__container {
    margin-bottom: 30px;
    margin: 0;
    max-width: 350px;
  }

  .header__image {
    margin: auto;
    width: 200px;
    height: 200px;
  }

  .header__image img {
    max-width: 200px;
  }
  .header__title {
    font-size: 24px;
    max-width: 215px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .header__subtitle {
    font-size: 16px;
  }
  .header__button {
    font-size: 12px;
  }

  .header__text {
    max-width: 300px;
  }
}
