.page {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.title-font {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.1;
}
.subtitle-font {
  font-family: "Golos Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: #f54932;
  text-decoration-thickness: 2px;
}
